body {
  background-color: #ffffff !important;
  color: #000000;
}

.center-box {
  width: 80%;              /* adjust as needed */
  margin: 0 auto;          /* centers horizontally */
  display: block;
  margin-left: 50%;          /* make margin auto work */
}
